<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Es_upm_isst</servlet-name>
		<servlet-class>es.upm.isst.Es_upm_isstServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NewInfraccion</servlet-name>
		<servlet-class>es.upm.isst.NewInfraccionServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NewUser</servlet-name>
		<servlet-class>es.upm.isst.NewUserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetMyComments</servlet-name>
		<servlet-class>es.upm.isst.GetMyCommentsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetAllComments</servlet-name>
		<servlet-class>es.upm.isst.GetAllCommentsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginUser</servlet-name>
		<servlet-class>es.upm.isst.LoginUserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetReceivedComments</servlet-name>
		<servlet-class>es.upm.isst.GetReceivedCommentsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DenunciaComentarioServlet</servlet-name>
		<servlet-class>es.upm.isst.DenunciaComentarioServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Es_upm_isst</servlet-name>
		<url-pattern>/es_upm_isst</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewInfraccion</servlet-name>
		<url-pattern>/NewInfraccion</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewUser</servlet-name>
		<url-pattern>/NewUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetMyComments</servlet-name>
		<url-pattern>/GetMyComments</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetAllComments</servlet-name>
		<url-pattern>/GetAllComments</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginUser</servlet-name>
		<url-pattern>/LoginUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetReceivedComments</servlet-name>
		<url-pattern>/GetReceivedComments</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DenunciaComentarioServlet</servlet-name>
		<url-pattern>/DenunciaComentario</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
